body {
	background-color:#333;
	background:url(http://beautyboxknebworth.co.uk/img/bg.jpg) repeat center top;
}

.container {
	background-color:#fff;
}

@media (max-width: 979px) {
	.nav-collapse .nav {
		margin-top:10px;
	}	
	.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
		background-image:none;
		background-color:#111;
	}
}

.table th,
.table td,
.table td[colspan] {
	text-align:center;
}

// .table th:first-child,
.table td:first-child {
	text-align:left;
}

.homepage-hero {
	padding-top:40px;
}

.navbar-inverse .container {
	background-color:#1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
}

footer .well {
	margin:0 20px 20px;
}

