/* @import must be at top of file, otherwise CSS will not work */
// @import url("//hello.myfonts.net/count/266f98");

@import "compass/reset", "compass/css3";

@include font-face("Bebas Neue", font-files("BebasNeue-webfont.eot", "BebasNeue-webfont.eot?#iefix", "BebasNeue-webfont.woff", "BebasNeue-webfont.ttf", "BebasNeue-webfont.svg#BebasNeueRegular"));

@include font-face("Crimson Roman", font-files("Crimson-Roman-webfont.eot", "Crimson-Roman-webfont.eot?#iefix", "Crimson-Roman-webfont.woff", "Crimson-Roman-webfont.ttf", "Crimson-Roman-webfont.svg#CrimsonRoman"));

@include font-face("Bodoni Ornaments", font-files("Bodoni-Ornaments-webfont.eot", "Bodoni-Ornaments-webfont.eot?#iefix", "Bodoni-Ornaments-webfont.woff", "Bodoni-Ornaments-webfont.ttf", "Bodoni-Ornaments-webfont.svg#BodoniOrnaments"));


@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

//max-width:1024px; // Main image width and full body width
//62 px either side, 40px between colums
//900px content width
//273.3333 3 column
//195 4 column

$base-font-size: 16px;
$base-line-height: 24px;
$body-font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$heading-font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
$serif-heading-font-family: "Crimson Roman", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$ornament-font-family: "Bodoni Ornaments", Helvetica, Arial, sans-serif;

$body-font-color: #333;
$header-background-color: #343433;
$pink: #E3ABDD;
$nav-link-color: #BFCDCD;
$lighter-text-color: #666;
$treatments-flourish-color: #5A4D59;
$about-background-color: #CFD7D1;
$about-flourish-color: #9AACA0;
$about-border: #9BADA1;

/* ==========================================================================
   HTML5 Boilerplate styles
   ========================================================================== */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* ==========================================================================
   Main Styles
   ========================================================================== */

body {
	background: url(../img/bg.png) repeat #ECD6E9;
	font-size: $base-font-size;
	color: $body-font-color;
	font-family: $body-font-family;
	-webkit-font-smoothing: antialiased;
}

h1 {
	// font-family: $heading-font-family;
}

h2 {
	// Slide titles
	font-family: $serif-heading-font-family;
	font-size: em(65px);
	line-height: 1;
	margin-bottom: 10px;
}

h3 {
	// Section headings
	font-family: $heading-font-family;
	font-size: em(30px);
	letter-spacing: em(3px, 30px);
	text-align: center;
	margin: 0 6.056% 30px;

}

h4 {
	// Section sub-headings
	font-family: $heading-font-family;
	font-size: em(24px);
	letter-spacing: em(3px, 24px);
	margin-bottom: 5px;
}

h5 {
	font-family: $heading-font-family;
}

i {
	font-family: $ornament-font-family;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

header {
	background-color: $header-background-color;
	overflow: hidden;
	.logo {
		padding: 40px 62px 30px 6.056%;
		display: block;
		float: left;
		img {
			max-width: 100%;
		}
	}
	h5 {
		color: $pink;
		font-size: em(14px);
		float: right;
		margin-right: 6.056%;
		padding-top: 15px;
	}
	.tel {
		font-family: $serif-heading-font-family;
		color: $pink;
		font-size: em(26px);
		float: right;
		clear: right;
		margin-right: 6.056%;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		@include single-transition(border-color, 0.25s, ease-in-out);
		&:hover {
			border-bottom: 1px solid $pink;
		}
	}
	nav {
		float: right;
		padding: 30px 6.056% 30px 6.056%;
		li {
			float: left;
			a {
				color: $nav-link-color;
				text-decoration: none;	
				font-family: $heading-font-family;
				font-size: em(20px);
				letter-spacing: em(3px, 20px);
				margin-right: em(-3px);
				border-bottom: 1px solid $header-background-color;
				@include single-transition(border-color, 0.25s, ease-in-out);
				&:hover {
					border-color: $nav-link-color;
				}
			}
			i {
				color: $pink;
				padding: 0 15px;
				vertical-align: top;
			}
		}
	}
}

.hero {
	.heroSlide {
		position: relative;
		overflow: hidden;
		float: left;
	}
	img {
		max-width: 100%;
	}
	.caption {
		position: absolute;
		bottom: 0;
		padding: 0 8.302% 25px 8.302%;
		p {
			margin-bottom: 10px;
			line-height: 1.2;
			margin-right: 32%;
		}
	}
}

.treatments {
	background: url(../img/treatments-bg.png) repeat top left;
	overflow: hidden;
	padding: 0 6.056% 32px;
	i {
		text-align: center;
		display: block;
		color: $treatments-flourish-color;
		font-size: em(48px);
		margin: 32px 0 20px 0;
	}
	.treatment {
		text-align: center;
		float: left;
		width: 195px;
		margin-bottom: 32px;
		margin-right: 40px;
		img {
			background-color: #fff;
			border: 1px solid $pink;
			padding: 10px;
			margin-bottom: 10px;
		}
		p {
			margin-bottom:10px;
			line-height:1.2;
			padding: 0 5px;
		}
		.cta {
			color: $body-font-color;
			text-decoration: none;
			font-weight: bold;
			padding-top: 10px;
			border-top: 1px solid $pink;
			display:block;
			&:hover {
				text-decoration: underline;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Add min widths too for shared styles */


@media only screen and (min-width: 320px) and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (min-width:769px) and (max-width: 1023px) {

}