/* @import must be at top of file, otherwise CSS will not work */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Bebas Neue";
  src: url('../type/BebasNeue-webfont.eot') format('embedded-opentype'), url('../type/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../type/BebasNeue-webfont.woff') format('woff'), url('../type/BebasNeue-webfont.ttf') format('truetype'), url('../type/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
}

@font-face {
  font-family: "Crimson Roman";
  src: url('../type/Crimson-Roman-webfont.eot') format('embedded-opentype'), url('../type/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'), url('../type/Crimson-Roman-webfont.woff') format('woff'), url('../type/Crimson-Roman-webfont.ttf') format('truetype'), url('../type/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
}

@font-face {
  font-family: "Bodoni Ornaments";
  src: url('../type/Bodoni-Ornaments-webfont.eot') format('embedded-opentype'), url('../type/Bodoni-Ornaments-webfont.eot?#iefix') format('embedded-opentype'), url('../type/Bodoni-Ornaments-webfont.woff') format('woff'), url('../type/Bodoni-Ornaments-webfont.ttf') format('truetype'), url('../type/Bodoni-Ornaments-webfont.svg#BodoniOrnaments') format('svg');
}

@font-face {
  font-family: "social";
  src: url('../type/social.eot') format('embedded-opentype'), url('../type/social.eot?#iefix') format('embedded-opentype'), url('../type/social.woff') format('woff'), url('../type/social.ttf') format('truetype'), url('../type/social.svg#social') format('svg');
}

/* ==========================================================================
   HTML5 Boilerplate styles
   ========================================================================== */
/* line 57, screen.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 62, screen.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 67, screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, screen.scss */
img {
  vertical-align: middle;
}

/* line 80, screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 86, screen.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 94, screen.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 101, screen.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 108, screen.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 113, screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 125, screen.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 134, screen.scss */
.invisible {
  visibility: hidden;
}

/* line 139, screen.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 144, screen.scss */
.cf:after {
  clear: both;
}

/* line 148, screen.scss */
.cf {
  *zoom: 1;
}

/* ==========================================================================
   Main Styles
   ========================================================================== */
/* line 156, screen.scss */
body {
  background: url(../img/bg.png) repeat #ecd6e9;
  font-size: 16px;
  color: #333333;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 169, screen.scss */
h2 {
  font-family: "Crimson Roman", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 4.063em;
  line-height: 1;
  margin-bottom: 10px;
}

/* line 176, screen.scss */
h3 {
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 1.875em;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0 6.889% 30px;
}

/* line 185, screen.scss */
h4 {
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.125em;
  margin-bottom: 5px;
  text-align: center;
}

/* line 193, screen.scss */
h5 {
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
}

/* line 197, screen.scss */
i {
  font-family: "Bodoni Ornaments", Helvetica, Arial, sans-serif;
}
/* line 199, screen.scss */
i:after {
  content: "{";
  line-height: 1;
  vertical-align: top;
}

/* line 206, screen.scss */
p {
  line-height: 1.2;
}
/* line 208, screen.scss */
p a {
  color: #333333;
}
/* line 210, screen.scss */
p a:hover {
  color: #797979;
}

/* line 216, screen.scss */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

/* line 223, screen.scss */
header {
  background-color: #343434;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  width: 100%;
}
/* line 229, screen.scss */
header span {
  margin: 0 6.055%;
  padding-top: 15px;
  float: right;
  text-align: right;
}
/* line 234, screen.scss */
header span h5 {
  color: #e3abdd;
  font-size: 0.875em;
  float: right;
}
/* line 239, screen.scss */
header span .tel {
  font-family: "Crimson Roman", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #e3abdd;
  font-size: 1.625em;
  float: right;
  clear: right;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  margin-bottom: 30px;
  -webkit-transition: border-color 0.25s ease-in-out;
  -moz-transition: border-color 0.25s ease-in-out;
  -ms-transition: border-color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
}
/* line 249, screen.scss */
header span .tel:hover {
  border-color: #e3abdd;
  text-decoration: none;
  -webkit-transition: border-color 0s ease-in-out;
  -moz-transition: border-color 0s ease-in-out;
  -ms-transition: border-color 0s ease-in-out;
  -o-transition: border-color 0s ease-in-out;
  transition: border-color 0s ease-in-out;
}
/* line 256, screen.scss */
header + section {
  padding-top: 132px;
}

/* line 261, screen.scss */
.no-js header {
  position: static;
}
/* line 263, screen.scss */
.no-js header + section {
  padding-top: 0;
}

/* line 268, screen.scss */
.logo {
  margin: 40px 6.055% 30px 6.055%;
  display: block;
  float: left;
  width: 290px;
  height: 62px;
  background: url(../img/logo.png) no-repeat center;
  background: none, url(../img/logo.svg) no-repeat center;
}
/* line 276, screen.scss */
.logo img {
  width: 290px;
}

/* line 281, screen.scss */
nav {
  float: right;
  clear: right;
  margin: 0 6.055% 10px;
}
/* line 285, screen.scss */
nav li {
  float: left;
  margin-bottom: 15px;
}
/* line 288, screen.scss */
nav li a {
  color: #bfcdcd;
  text-decoration: none;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  margin-right: -0.188em;
  border-bottom: 2px solid #343434;
  -webkit-transition: border-color 0.25s ease-in-out;
  -moz-transition: border-color 0.25s ease-in-out;
  -ms-transition: border-color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
}
/* line 297, screen.scss */
nav li a:hover {
  border-color: #bfcdcd;
  -webkit-transition: border-color 0s ease-in-out;
  -moz-transition: border-color 0s ease-in-out;
  -ms-transition: border-color 0s ease-in-out;
  -o-transition: border-color 0s ease-in-out;
  transition: border-color 0s ease-in-out;
}
/* line 302, screen.scss */
nav li i {
  color: #e3abdd;
  padding: 0 15px;
}

/* line 311, screen.scss */
.container .caroufredsel_wrapper,
.container > .hero,
.container .map {
  padding: 0;
}

/* line 316, screen.scss */
.hero .heroSlide {
  position: relative;
  overflow: hidden;
  float: left;
}
/* line 321, screen.scss */
.hero img {
  max-width: 100%;
}
/* line 324, screen.scss */
.hero .caption {
  position: absolute;
  bottom: 0;
  padding: 0 8.301% 25px 8.301%;
}
/* line 328, screen.scss */
.hero .caption p {
  margin-bottom: 10px;
  margin-right: 31.85%;
}

/* line 335, screen.scss */
section i {
  text-align: center;
  display: block;
  font-size: 3em;
  margin: 32px 0 20px;
}
/* line 340, screen.scss */
section i.small {
  font-size: 2em;
}

/* line 345, screen.scss */
.container > div {
  overflow: hidden;
  padding: 0 6.055% 32px;
}

/* line 350, screen.scss */
.treatments {
  background: url(../img/treatments-bg.png) repeat top left;
}
/* line 352, screen.scss */
.treatments i {
  color: #5a4d59;
}

/* line 357, screen.scss */
.treatmentIntro {
  float: left;
  width: 21.667%;
  margin-bottom: 32px;
  margin-right: 4.444%;
  opacity: 1;
  -webkit-transition: opacity 0s ease-in-out;
  -moz-transition: opacity 0s ease-in-out;
  -ms-transition: opacity 0s ease-in-out;
  -o-transition: opacity 0s ease-in-out;
  transition: opacity 0s ease-in-out;
  position: relative;
}
/* line 365, screen.scss */
.treatmentIntro.translucent {
  opacity: 0.6;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
/* line 369, screen.scss */
.treatmentIntro a {
  display: block;
  text-decoration: none;
  color: #333333;
}
/* line 373, screen.scss */
.treatmentIntro a:hover .cta {
  text-decoration: underline;
}
/* line 377, screen.scss */
.treatmentIntro img {
  background-color: #fff;
  border: 1px solid #e3abdd;
  padding: 5.128%;
  margin-bottom: 10px;
  width: 87.179%;
}
/* line 384, screen.scss */
.treatmentIntro p {
  margin-bottom: 10px;
  padding: 0 2.564%;
  text-align: center;
}
/* line 389, screen.scss */
.treatmentIntro .cta {
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  border-top: 1px solid #e3abdd;
  display: block;
  text-align: center;
}
/* line 397, screen.scss */
.treatmentIntro:nth-of-type(4n) {
  margin-right: 0;
}

/* line 402, screen.scss */
.treatmentDetails {
  clear: both;
}
/* line 404, screen.scss */
.treatmentDetails i {
  margin-top: 8px;
}
/* line 407, screen.scss */
.treatmentDetails h3 {
  margin-bottom: 2px;
}
/* line 410, screen.scss */
.treatmentDetails h3 + h4 {
  margin-bottom: 30px;
}

/* line 415, screen.scss */
.treatment {
  margin-bottom: 26px;
}
/* line 418, screen.scss */
.treatment h4 {
  text-align: left;
}
/* line 421, screen.scss */
.treatment p {
  margin-bottom: 14px;
}

/* line 426, screen.scss */
.prices {
  width: 100%;
  overflow: hidden;
  margin-bottom: 14px;
}
/* line 430, screen.scss */
.prices li {
  margin-bottom: 3px;
  line-height: 1.2;
}
/* line 434, screen.scss */
.prices li:after {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
/* line 440, screen.scss */
.prices span:first-child {
  padding-right: 0.556%;
  background: url(../img/treatments-bg.png);
}
/* line 444, screen.scss */
.prices span + span {
  float: right;
  padding-left: 0.556%;
  background: url(../img/treatments-bg.png);
  position: relative;
  z-index: 1;
}

/* line 453, screen.scss */
.colHalf {
  float: left;
  width: 47.778%;
}
/* line 456, screen.scss */
.colHalf + .colHalf {
  margin-left: 2.222%;
}
/* line 458, screen.scss */
.colHalf + .colHalf .border {
  border-left: 1px solid #9BADA1;
  padding-left: 4.651%;
}

/* line 466, screen.scss */
p.notes {
  font-style: italic;
}

/* line 470, screen.scss */
.about {
  background: #cfd7d1;
}
/* line 472, screen.scss */
.about i {
  color: #9aaca0;
}
/* line 474, screen.scss */
.about i.small {
  margin: 0 0 25px 0;
}
/* line 478, screen.scss */
.about h4 {
  color: #666666;
  margin-bottom: 8px;
  padding: 0 1.825%;
}
/* line 483, screen.scss */
.about .row {
  overflow: hidden;
}

/* line 488, screen.scss */
.colThird {
  width: 33.333%;
  margin-bottom: 20px;
  float: left;
}
/* line 492, screen.scss */
.colThird p {
  padding-right: 6%;
}
/* line 495, screen.scss */
.colThird + .colThird p {
  border-left: 1px solid #9bada1;
  padding: 0 6%;
}
/* line 500, screen.scss */
.colThird:last-child p, .colThird:last-child .tableWrapper {
  padding-right: 0;
}
/* line 504, screen.scss */
.colThird.double .border {
  border-left: 1px solid #9bada1;
}
/* line 507, screen.scss */
.colThird.double p {
  border: 0;
}
/* line 509, screen.scss */
.colThird.double p + h4 {
  margin-top: 20px;
}

/* line 516, screen.scss */
.tableWrapper {
  border-left: 1px solid #9bada1;
  padding: 0 6%;
}

/* line 521, screen.scss */
.hours {
  width: 100%;
}
/* line 523, screen.scss */
.hours .dash {
  width: 10%;
}
/* line 526, screen.scss */
.hours td {
  padding-bottom: 3px;
}

/* line 531, screen.scss */
a.tel {
  color: #333333;
  text-decoration: none;
}
/* line 534, screen.scss */
a.tel:hover {
  text-decoration: underline;
}

/* line 540, screen.scss */
.container .contact {
  background: #343434;
  color: #d0d6d4;
  padding-bottom: 48px;
}
/* line 544, screen.scss */
.container .contact i {
  color: #9eaea4;
}

/* line 549, screen.scss */
.tab-content {
  background: #343434;
}

/* line 553, screen.scss */
#call .tel {
  color: #ccd7d1;
}

/* line 557, screen.scss */
.floatyLinks {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
/* line 561, screen.scss */
.floatyLinks li {
  display: inline;
}
/* line 563, screen.scss */
.floatyLinks li + li {
  margin-left: 5.556%;
}
/* line 568, screen.scss */
.floatyLinks a {
  color: #ccd7d1;
  text-decoration: none;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.14em;
  position: relative;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
/* line 576, screen.scss */
.floatyLinks a:hover, .floatyLinks a.active {
  color: #e3abdd;
  -webkit-transition: color 0s ease-in-out;
  -moz-transition: color 0s ease-in-out;
  -ms-transition: color 0s ease-in-out;
  -o-transition: color 0s ease-in-out;
  transition: color 0s ease-in-out;
}
/* line 580, screen.scss */
.floatyLinks a:before {
  font-family: 'social';
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.625em;
  position: absolute;
  top: -50px;
}
/* line 589, screen.scss */
.floatyLinks .icon-call a:before {
  content: "\e003";
  left: 15px;
}
/* line 593, screen.scss */
.floatyLinks .icon-email a:before {
  font-family: arial, helvetica, sans-serif;
  content: "@";
  left: 10px;
  top: -53px;
}
/* line 599, screen.scss */
.floatyLinks .icon-find a:before {
  content: "\e002";
  left: 14px;
}
/* line 603, screen.scss */
.floatyLinks .icon-like a:before {
  content: "\e000";
  left: 5px;
}
/* line 607, screen.scss */
.floatyLinks .icon-follow a:before {
  content: "\e001";
  left: 9px;
}

/* line 613, screen.scss */
#map-canvas {
  width: 100%;
  height: 600px;
  padding: 0;
}

/* line 619, screen.scss */
.mapContent {
  width: 100px;
  height: 100px;
  line-height: normal;
}

/* line 627, screen.scss */
.no-js #map-canvas {
  display: none;
}

/* line 631, screen.scss */
.map iframe {
  display: block;
}

/* line 635, screen.scss */
.footer-top {
  background-color: black;
  color: #9aaca0;
}
/* line 638, screen.scss */
.footer-top i {
  margin: 18px 0 10px;
}
/* line 641, screen.scss */
.footer-top h5 {
  border-bottom: 1px dashed #9aaca0;
  margin-bottom: 20px;
  letter-spacing: 0.14em;
  text-align: center;
  padding-bottom: 10px;
}

/* line 650, screen.scss */
.footer-bottom {
  background-color: #343434;
  color: #9aaca0;
}
/* line 653, screen.scss */
.footer-bottom h5 {
  text-align: center;
  letter-spacing: 0.16em;
  padding: 36px 0 8px;
  line-height: 1.4;
}

/* line 662, screen.scss */
.brand-links li {
  float: left;
}
/* line 664, screen.scss */
.brand-links li + li {
  margin-left: 8.222%;
}

/* line 671, screen.scss */
.treatment-page .treatmentDetails i {
  margin-top: 38px;
}

/* line 676, screen.scss */
.treatmentDisplay {
  clear: left;
}

/* line 680, screen.scss */
.error {
  border: 1px solid #E3ABDD;
  text-align: center;
  padding: 20px 0;
}

/* line 686, screen.scss */
form {
  max-width: 280px;
  margin: 0 auto;
}

/* line 691, screen.scss */
label {
  color: #d0d6d4;
  float: left;
  clear: left;
  margin-bottom: 5px;
}

/* line 699, screen.scss */
input,
textarea {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #cdd6d1;
  font-size: 0.875em;
  border: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 712, screen.scss */
input[type=submit] {
  color: #343434;
  background-color: #e3abdd;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 1.375em;
  cursor: pointer;
  letter-spacing: 0.136em;
  margin-top: 20px;
  padding: 5px 10px;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
/* line 722, screen.scss */
input[type=submit]:hover {
  background-color: #d98cd1;
  -webkit-transition: background-color 0s ease-in-out;
  -moz-transition: background-color 0s ease-in-out;
  -ms-transition: background-color 0s ease-in-out;
  -o-transition: background-color 0s ease-in-out;
  transition: background-color 0s ease-in-out;
}

/* line 728, screen.scss */
.feed a {
  color: #e3abdd;
  text-decoration: none;
}
/* line 731, screen.scss */
.feed a:hover {
  text-decoration: underline;
}

/* line 736, screen.scss */
.feed {
  color: #d0d6d4;
  max-width: 500px;
  margin: 0 auto 30px;
  overflow: hidden;
}
/* line 741, screen.scss */
.feed h1 {
  text-align: center;
  font-size: 1.25em;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 30px;
}

/* line 750, screen.scss */
#loading-container {
  text-align: center;
}

/* line 754, screen.scss */
.status-article {
  clear: both;
  float: left;
  width: 100%;
}

/* line 760, screen.scss */
.status-article + .status-article {
  margin-top: 30px;
}

/* line 764, screen.scss */
.feed-pic {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}

/* line 771, screen.scss */
.feed-text,
.feed-text p {
  overflow: hidden;
}

/* line 775, screen.scss */
.feed-image {
  margin-top: 10px;
  float: left;
  clear: left;
}

/* line 781, screen.scss */
.tweetprofilelink {
  float: left;
  font-size: 0.875em;
}

/* line 786, screen.scss */
.feed-time {
  float: left;
}

/* line 790, screen.scss */
.feed-content {
  float: left;
  clear: left;
}

/* line 802, screen.scss */
.feed .feed-time a {
  color: #7e8f89;
  font-size: 0.75em;
}

/* line 807, screen.scss */
.feed .feed-time a {
  margin-left: 10px;
  display: block;
}

/* line 812, screen.scss */
.tweet-media-pic {
  margin-top: 10px;
}
/* line 815, screen.scss */
.tweet-media-pic img {
  max-width: 130px;
}

/* line 820, screen.scss */
#twitter-actions {
  width: 75px;
  float: right;
  margin-right: 5px;
  margin-top: 8px;
}

/* line 827, screen.scss */
.intent {
  width: 25px;
  height: 16px;
  float: left;
}

/* line 832, screen.scss */
.intent a {
  width: 25px;
  height: 16px;
  display: block;
  background-image: url(../img/tweet-actions.png);
  float: left;
}

/* line 839, screen.scss */
.intent a:hover {
  background-position: -25px 0px;
}

/* line 843, screen.scss */
#intent-retweet a {
  background-position: 0px -17px;
}

/* line 846, screen.scss */
#intent-retweet a:hover {
  background-position: -25px -17px;
}

/* line 849, screen.scss */
#intent-fave a {
  background-position: 0px -36px;
}

/* line 852, screen.scss */
#intent-fave a:hover {
  background-position: -25px -36px;
}

/* -------- RETWEET INDICATOR ------*/
/* line 857, screen.scss */
#retweet-indicator {
  width: 14px;
  height: 10px;
  background-image: url(../img/tweet-actions.png);
  background-position: -5px -54px;
  margin-top: 3px;
  float: left;
}

/* line 866, screen.scss */
.fb-feed {
  color: #d0d6d4;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 875, screen.scss */
  .treatmentIntro {
    width: 48%;
    margin-right: 4%;
  }
  /* line 878, screen.scss */
  .treatmentIntro:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 590px) {
  /* line 885, screen.scss */
  .mobileHide {
    display: none !important;
  }

  /* line 888, screen.scss */
  header {
    position: static;
    width: auto;
  }

  /* line 892, screen.scss */
  header span {
    text-align: center;
    line-height: 1.2;
    width: 87.89%;
    padding-top: 0;
    margin-bottom: 20px;
  }
  /* line 898, screen.scss */
  header span h5 {
    float: none;
    font-size: 1.375em;
    font-family: "Crimson Roman", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  }
  /* line 903, screen.scss */
  header span .tel {
    font-size: 1.375em;
    float: none;
    clear: none;
  }

  /* line 909, screen.scss */
  .logo {
    width: 87.89%;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  /* line 914, screen.scss */
  .hours {
    width: 70%;
  }

  /* line 917, screen.scss */
  #map-canvas {
    height: 250px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 923, screen.scss */
  .treatmentIntro {
    width: 32%;
    margin-right: 2%;
  }
  /* line 926, screen.scss */
  .treatmentIntro:nth-of-type(3n) {
    margin-right: 0;
  }
  /* line 929, screen.scss */
  .treatmentIntro:nth-of-type(4n) {
    clear: left;
  }

  /* line 933, screen.scss */
  .hours {
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width:  768px) {
  /* line 939, screen.scss */
  .container {
    padding: 0;
  }

  /* line 943, screen.scss */
  .hero .caption h2 {
    font-size: 2.188em;
  }
  /* line 946, screen.scss */
  .hero .caption p {
    margin-right: 0;
  }

  /* line 950, screen.scss */
  .colThird {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
  /* line 954, screen.scss */
  .colThird:last-child {
    margin-bottom: 20px;
  }
  /* line 958, screen.scss */
  .colThird + .colThird p, .colThird.double .border {
    border: 0;
    padding: 0;
  }
  /* line 962, screen.scss */
  .colThird.double p + h4 {
    margin-top: 40px;
  }

  /* line 966, screen.scss */
  .colHalf {
    width: 100%;
  }
  /* line 968, screen.scss */
  .colHalf + .colHalf {
    margin-left: 0;
  }
  /* line 970, screen.scss */
  .colHalf + .colHalf .border {
    padding-left: 0;
    border: 0;
  }
  /* line 975, screen.scss */
  .colHalf:last-child .treatment:last-child {
    margin-bottom: 20px;
  }

  /* line 979, screen.scss */
  .treatment {
    margin-bottom: 40px;
  }

  /* line 983, screen.scss */
  .tableWrapper,
  .colThird p {
    border: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width:  930px) {
  /* line 990, screen.scss */
  .logo {
    margin-top: 20px;
  }

  /* line 993, screen.scss */
  nav {
    text-align: center;
    width: 100%;
    margin: 0 0 25px 0;
    float: none;
    clear: both;
  }
  /* line 999, screen.scss */
  nav li {
    float: none;
    display: inline;
    margin-bottom: 0;
  }

  /* line 1005, screen.scss */
  header + section {
    padding-top: 157px;
  }
}
