/* @import must be at top of file, otherwise CSS will not work */
// @import url("//hello.myfonts.net/count/266f98");

@import "compass/reset", "compass/css3";

@include font-face("Bebas Neue", font-files("BebasNeue-webfont.eot", "BebasNeue-webfont.eot?#iefix", "BebasNeue-webfont.woff", "BebasNeue-webfont.ttf", "BebasNeue-webfont.svg#BebasNeueRegular"));

@include font-face("Crimson Roman", font-files("Crimson-Roman-webfont.eot", "Crimson-Roman-webfont.eot?#iefix", "Crimson-Roman-webfont.woff", "Crimson-Roman-webfont.ttf", "Crimson-Roman-webfont.svg#CrimsonRoman"));

@include font-face("Bodoni Ornaments", font-files("Bodoni-Ornaments-webfont.eot", "Bodoni-Ornaments-webfont.eot?#iefix", "Bodoni-Ornaments-webfont.woff", "Bodoni-Ornaments-webfont.ttf", "Bodoni-Ornaments-webfont.svg#BodoniOrnaments"));

// Ems
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// Percentages
@function percent($px, $base: $base-width) {
	@return (($px / $base) * 100) * 1%; 
}

$base-font-size: 16px;
$base-line-height: 24px;
$base-width: 900px;
$body-font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$heading-font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
$serif-heading-font-family: "Crimson Roman", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$ornament-font-family: "Bodoni Ornaments", Helvetica, Arial, sans-serif;

$body-text-color: #333;
$header-background-color: #343434;
$pink: #E3ABDD;
$nav-link-color: #BFCDCD;
$lighter-text-color: #666;

$treatments-flourish-color: #5A4D59;

$about-background-color: #CFD7D1;
$about-flourish-color: #9AACA0;
$about-border: #9BADA1;

$contact-background-color: #343434;
$contact-flourish-color: #9EAEA4;
$contact-text-color: #D0D6D4;

$footer-top-background-color: #000;
$footer-text-color: #9AACA0;

/* ==========================================================================
   HTML5 Boilerplate styles
   ========================================================================== */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* ==========================================================================
   Main Styles
   ========================================================================== */

body {
	background: url(../img/bg.png) repeat #ECD6E9;
	font-size: $base-font-size;
	color: $body-text-color;
	font-family: $body-font-family;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

h1 {
	// font-family: $heading-font-family;
}

h2 {
	// Slide titles
	font-family: $serif-heading-font-family;
	font-size: em(65px);
	line-height: 1;
	margin-bottom: 10px;
}

h3 {
	// Section headings
	font-family: $heading-font-family;
	font-size: em(30px);
	letter-spacing: em(3px, 30px);
	text-align: center;
	margin: 0 percent(62px) 30px;

}

h4 {
	// Section sub-headings
	font-family: $heading-font-family;
	font-size: em(24px);
	letter-spacing: em(3px, 24px);
	margin-bottom: 5px;
	text-align: center;
}

h5 {
	font-family: $heading-font-family;
}

i {
	font-family: $ornament-font-family;
	&:after {
		content: "{";
		line-height: 1;
		vertical-align: top;
	}
}

p {
	line-height: 1.2;
	a {
		color: $body-text-color;
		@include single-transition(color, 0.25s, ease-in-out);
		&:hover {
			color: $body-text-color + 70;
		}
	}
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

header {
	background-color: $header-background-color;
	overflow: hidden;
	span {
		margin: 0 percent(62px, 1024px);
		padding-top: 15px;
		float: right;
		text-align: right;
		h5 {
			color: $pink;
			font-size: em(14px);
			float: right;
		}
		.tel {
			font-family: $serif-heading-font-family;
			color: $pink;
			font-size: em(26px);
			float: right;
			clear: right;
			text-decoration: none;
			border-bottom: 2px solid transparent;
			margin-bottom: 30px;
			@include single-transition(border-color, 0.25s, ease-in-out);
			&:hover {
				border-color: $pink;
				text-decoration: none;
			}
		}
	}
}

.logo {
	margin: 40px percent(62px, 1024px) 30px percent(62px, 1024px);
	display: block;
	float: left;
	width: 290px;
	height: 62px;
	background: url(../img/logo.png) no-repeat center;
	background: none, url(../img/logo.svg) no-repeat center;
	img {
		width: 290px;
	}
}

nav {
	float: right;
	clear: right;
	margin: 0 percent(62px, 1024px) 10px;
	li {
		float: left;
		margin-bottom: 15px;
		a {
			color: $nav-link-color;
			text-decoration: none;	
			font-family: $heading-font-family;
			font-size: em(20px);
			letter-spacing: em(3px, 20px);
			margin-right: em(-3px);
			border-bottom: 2px solid $header-background-color;
			@include single-transition(border-color, 0.25s, ease-in-out);
			&:hover {
				border-color: $nav-link-color;
			}
		}
		i {
			color: $pink;
			padding: 0 15px;
		}
	}
}

.container .caroufredsel_wrapper,
.container > .hero {
	padding: 0;
}

.hero {
	.heroSlide {
		position: relative;
		overflow: hidden;
		float: left;
	}
	img {
		max-width: 100%;
	}
	.caption {
		position: absolute;
		bottom: 0;
		padding: 0 percent(85px, 1024px) 25px percent(85px, 1024px);
		p {
			margin-bottom: 10px;
			margin-right: percent(272px, 854px);
		}
	}
}

section i {
	text-align: center;
	display: block;
	font-size: em(48px);
	margin: 32px 0 20px;
	&.small {
		font-size: em(32px);
	}
}

.container > div {
	overflow: hidden;
	padding: 0 percent(62px, 1024px) 32px;
}

.treatments {
	background: url(../img/treatments-bg.png) repeat top left;
	i {
		color: $treatments-flourish-color;
	}
}

.treatmentIntro {
	float: left;
	width: percent(195px);
	margin-bottom: 32px;
	margin-right: percent(40px);
	a {
		display: block;
		text-decoration: none;
		color: $body-text-color;
		&:hover .cta {
			text-decoration: underline;
		}
	}
	img {
		background-color: #fff;
		border: 1px solid $pink;
		padding: percent(10px, 195px);
		margin-bottom: 10px;
		width: percent(170px, 195px);
	}
	p {
		margin-bottom: 10px;
		padding: 0 percent(5px, 195px);
		text-align: center;
	}
	.cta {
		text-decoration: none;
		font-weight: bold;
		padding-top: 10px;
		border-top: 1px solid $pink;
		display: block;
		text-align: center;
	}
	&:nth-of-type(4n){
		margin-right: 0;
	}
}

.about {
	background: $about-background-color;
	i {
		color: $about-flourish-color;
		&.small {
			margin: 0 0 25px 0;
		}
	}
	h4 {
		color: $lighter-text-color;
		margin-bottom: 8px;
		padding: 0 percent(5px, 274px);
	}
	.row {
		overflow: hidden;
	}
}

.colThird {
	width: percent(300px);
	margin-bottom: 20px;
	float: left;
	&:first-child p {
		border: 0;
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
	p {
		border-left: 1px solid $about-border;
		padding: 0 percent(18px, 300px);
	}
	&.double {
		.border {
			border-left: 1px solid $about-border;
		}
		p {
			border: 0;
			& + h4 {
				margin-top: 20px;
			}
		}
	}
}

.tableWrapper{
	border-left: 1px solid $about-border;
	padding: 0 percent(18px, 300px);
}

.hours {
	width: 100%;
	.dash {
		width: 10%;
	}
	td {
		padding-bottom: 3px;
	}
}

a.tel {
	color: $body-text-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.contact {
	background: $contact-background-color;
	color: $contact-text-color;
	i {
		color: $contact-flourish-color;
	}
}

.footer-top {
	background-color: $footer-top-background-color;
	color: $footer-text-color;
	i {
		margin: 18px 0 10px;
	}
	h5 {
		border-bottom: 1px dashed $footer-text-color;
		margin-bottom: 20px;
		letter-spacing: 0.14em;
		text-align: center;
		padding-bottom: 10px;
	}
}

.footer-bottom {
	background-color: $contact-background-color;
	color: $footer-text-color;
	h5 {
		text-align: center;
		letter-spacing: 0.16em;
		padding: 36px 0 8px;
		line-height: 1.4;
	}
}

.brand-links {
	li {
		float: left;
		margin-left: percent(74px);
		&:first-child {
			margin-left: 0;
		}
	}
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.treatmentIntro {
		width: 48%;
		margin-right: 4%;
		&:nth-of-type(2n){
			margin-right: 0;
		}
	}
}

@media only screen and (min-width: 320px) and (max-width: 590px) {
	.mobileHide {
		display: none;
	}
	header span {
		text-align: center;
		line-height: 1.2;
		width: 87.89%;
		padding-top: 0;
		margin-bottom: 20px;
		h5 {
			float: none;
			font-size: em(22px);
			font-family: $serif-heading-font-family;
		}
		.tel {
			font-size: em(22px);
			float: none;
			clear: none;
		}
	}
	.logo {
		width: 87.89%;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.hours {
		width: 70%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	.treatmentIntro {
		width: 32%;
		margin-right: 2%;
		&:nth-of-type(3n){
			margin-right: 0;
		}
		&:nth-of-type(4n){
			clear: left;
		}
	}
	.hours {
		width: 50%;
	}
}

@media only screen and (min-width: 320px) and (max-width:  768px) {
	.container {
		padding: 0;
	}
	.hero .caption {
		h2 {
			font-size: em(35px);
		}
		p {
			margin-right: 0;
		}
	}
	.colThird {
		width: 100%;
		padding: 0;
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 20px;
		}
		&.double .border {
			border: 0;
		}
		&.double p + h4  {
			margin-top: 40px;
		}
	}
	.tableWrapper,
	.colThird p {
		border: 0;
		padding: 0;
	}
}

@media only screen and (min-width: 481px) and (max-width:  930px) {
	.logo {
		margin-top: 20px;
	}
	nav {
		text-align: center;
		width: 100%;
		margin: 0 0 25px 0;
		float: none;
		clear: both;
		li {
			float: none;
			display: inline;
			margin-bottom: 0;
		}
	}
}