/* @import must be at top of file, otherwise CSS will not work */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Bebas Neue";
  src: url('../type/BebasNeue-webfont.eot') format('embedded-opentype'), url('../type/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../type/BebasNeue-webfont.woff') format('woff'), url('../type/BebasNeue-webfont.ttf') format('truetype'), url('../type/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
}

@font-face {
  font-family: "Crimson Roman";
  src: url('../type/Crimson-Roman-webfont.eot') format('embedded-opentype'), url('../type/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'), url('../type/Crimson-Roman-webfont.woff') format('woff'), url('../type/Crimson-Roman-webfont.ttf') format('truetype'), url('../type/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
}

@font-face {
  font-family: "Bodoni Ornaments";
  src: url('../type/Bodoni-Ornaments-webfont.eot') format('embedded-opentype'), url('../type/Bodoni-Ornaments-webfont.eot?#iefix') format('embedded-opentype'), url('../type/Bodoni-Ornaments-webfont.woff') format('woff'), url('../type/Bodoni-Ornaments-webfont.ttf') format('truetype'), url('../type/Bodoni-Ornaments-webfont.svg#BodoniOrnaments') format('svg');
}

/* ==========================================================================
   HTML5 Boilerplate styles
   ========================================================================== */
/* line 48, screen.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 53, screen.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 58, screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 67, screen.scss */
img {
  vertical-align: middle;
}

/* line 71, screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 77, screen.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 86, screen.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 93, screen.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 100, screen.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 105, screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 117, screen.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 126, screen.scss */
.invisible {
  visibility: hidden;
}

/* line 131, screen.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 136, screen.scss */
.cf:after {
  clear: both;
}

/* line 140, screen.scss */
.cf {
  *zoom: 1;
}

/* ==========================================================================
   Main Styles
   ========================================================================== */
/* line 148, screen.scss */
body {
  background: url(../img/bg.png) repeat #ecd6e9;
  font-size: 16px;
  color: #333333;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 161, screen.scss */
h2 {
  font-family: "Crimson Roman", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 4.063em;
  line-height: 1;
  margin-bottom: 10px;
}

/* line 169, screen.scss */
h3 {
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 1.875em;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0 6.889% 30px;
}

/* line 179, screen.scss */
h4 {
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.125em;
  margin-bottom: 5px;
  text-align: center;
}

/* line 188, screen.scss */
h5 {
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
}

/* line 192, screen.scss */
i {
  font-family: "Bodoni Ornaments", Helvetica, Arial, sans-serif;
}
/* line 194, screen.scss */
i:after {
  content: "{";
  line-height: 1;
  vertical-align: top;
}

/* line 201, screen.scss */
p {
  line-height: 1.2;
}

/* line 205, screen.scss */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

/* line 212, screen.scss */
header {
  background-color: #343433;
  overflow: hidden;
}
/* line 215, screen.scss */
header .logo {
  margin: 40px 6.055% 30px 6.055%;
  display: block;
  float: left;
  width: 290px;
  height: 62px;
  background: url(../img/logo.png) no-repeat center;
  background: none, url(../img/logo.svg) no-repeat center;
}
/* line 223, screen.scss */
header .logo img {
  width: 290px;
}
/* line 227, screen.scss */
header span {
  margin: 0 6.055%;
  padding-top: 15px;
  float: right;
  text-align: right;
}
/* line 232, screen.scss */
header span h5 {
  color: #e3abdd;
  font-size: 0.875em;
  float: right;
}
/* line 237, screen.scss */
header span .tel {
  font-family: "Crimson Roman", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #e3abdd;
  font-size: 1.625em;
  float: right;
  clear: right;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  margin-bottom: 30px;
  -webkit-transition: border-color 0.25s ease-in-out;
  -moz-transition: border-color 0.25s ease-in-out;
  -ms-transition: border-color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
}
/* line 247, screen.scss */
header span .tel:hover {
  border-color: #e3abdd;
}
/* line 251, screen.scss */
header span nav {
  float: right;
  clear: right;
  margin-bottom: 10px;
}
/* line 255, screen.scss */
header span nav li {
  float: left;
  margin-bottom: 15px;
}
/* line 258, screen.scss */
header span nav li a {
  color: #bfcdcd;
  text-decoration: none;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  margin-right: -0.188em;
  border-bottom: 2px solid #343433;
  -webkit-transition: border-color 0.25s ease-in-out;
  -moz-transition: border-color 0.25s ease-in-out;
  -ms-transition: border-color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
}
/* line 267, screen.scss */
header span nav li a:hover {
  border-color: #bfcdcd;
}
/* line 271, screen.scss */
header span nav li i {
  color: #e3abdd;
  padding: 0 15px;
}

/* line 281, screen.scss */
.container .caroufredsel_wrapper {
  padding: 0;
}

/* line 286, screen.scss */
.hero .heroSlide {
  position: relative;
  overflow: hidden;
  float: left;
}
/* line 291, screen.scss */
.hero img {
  max-width: 100%;
}
/* line 294, screen.scss */
.hero .caption {
  position: absolute;
  bottom: 0;
  padding: 0 8.301% 25px 8.301%;
}
/* line 298, screen.scss */
.hero .caption p {
  margin-bottom: 10px;
  margin-right: 31.85%;
}

/* line 305, screen.scss */
section i {
  text-align: center;
  display: block;
  font-size: 3em;
  margin: 32px 0 20px;
}

/* line 312, screen.scss */
.container > div {
  overflow: hidden;
  padding: 0 6.055% 32px;
}

/* line 317, screen.scss */
.treatments {
  background: url(../img/treatments-bg.png) repeat top left;
}
/* line 319, screen.scss */
.treatments i {
  color: #5a4d59;
}
/* line 322, screen.scss */
.treatments .treatmentIntro {
  float: left;
  width: 21.667%;
  margin-bottom: 32px;
  margin-right: 4.444%;
}
/* line 327, screen.scss */
.treatments .treatmentIntro a {
  display: block;
  text-decoration: none;
  color: #333333;
}
/* line 331, screen.scss */
.treatments .treatmentIntro a:hover .cta {
  text-decoration: underline;
}
/* line 335, screen.scss */
.treatments .treatmentIntro img {
  background-color: #fff;
  border: 1px solid #e3abdd;
  padding: 5.128%;
  margin-bottom: 10px;
  width: 87.179%;
}
/* line 342, screen.scss */
.treatments .treatmentIntro p {
  margin-bottom: 10px;
  padding: 0 2.564%;
  text-align: center;
}
/* line 347, screen.scss */
.treatments .treatmentIntro .cta {
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
  border-top: 1px solid #e3abdd;
  display: block;
  text-align: center;
}
/* line 355, screen.scss */
.treatments .treatmentIntro:nth-of-type(4n) {
  margin-right: 0;
}

/* line 361, screen.scss */
.about {
  background: #cfd7d1;
}
/* line 363, screen.scss */
.about i {
  color: #9aaca0;
}
/* line 365, screen.scss */
.about i.small {
  font-size: 2em;
  margin: 0 0 25px 0;
}
/* line 370, screen.scss */
.about h4 {
  color: #666666;
  margin-bottom: 8px;
  padding: 0 1.825%;
}
/* line 375, screen.scss */
.about .row {
  overflow: hidden;
}
/* line 378, screen.scss */
.about .colThird {
  width: 33.333%;
  margin-bottom: 20px;
  float: left;
}
/* line 382, screen.scss */
.about .colThird:first-child p {
  border: 0;
  padding-left: 0;
}
/* line 386, screen.scss */
.about .colThird:last-child {
  padding-right: 0;
}
/* line 389, screen.scss */
.about .colThird p {
  border-left: 1px solid #9bada1;
  padding: 0 6%;
}
/* line 394, screen.scss */
.about .colThird.double .border {
  border-left: 1px solid #9bada1;
}
/* line 397, screen.scss */
.about .colThird.double p {
  border: 0;
}
/* line 399, screen.scss */
.about .colThird.double p + h4 {
  margin-top: 20px;
}
/* line 405, screen.scss */
.about .tableWrapper {
  border-left: 1px solid #9bada1;
  padding: 0 6%;
}
/* line 409, screen.scss */
.about .hours {
  width: 100%;
}
/* line 411, screen.scss */
.about .hours .dash {
  width: 30px;
}
/* line 414, screen.scss */
.about .hours td {
  padding-bottom: 3px;
}
/* line 418, screen.scss */
.about a.tel {
  color: #333333;
  text-decoration: none;
}
/* line 421, screen.scss */
.about a.tel:hover {
  text-decoration: underline;
}

/* line 427, screen.scss */
.contact {
  background: #343432;
  color: #d0d6d4;
}
/* line 430, screen.scss */
.contact i {
  color: #9eaea4;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 441, screen.scss */
  .treatments .treatmentIntro {
    width: 48%;
    margin-right: 4%;
  }
  /* line 444, screen.scss */
  .treatments .treatmentIntro:nth-of-type(2n) {
    margin-right: 0;
  }

  /* line 449, screen.scss */
  .mobileHide {
    display: none;
  }

  /* line 453, screen.scss */
  header .logo {
    width: 87.89%;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  /* line 458, screen.scss */
  header span {
    text-align: center;
    line-height: 1.2;
    width: 87.89%;
    padding-top: 0;
    margin-bottom: 20px;
  }
  /* line 464, screen.scss */
  header span h5 {
    float: none;
    font-size: 1.375em;
    margin-right: 10px;
    font-family: "Crimson Roman", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  }
  /* line 470, screen.scss */
  header span .tel {
    font-size: 1.375em;
    float: none;
    clear: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 481, screen.scss */
  .treatments .treatmentIntro {
    width: 32%;
    margin-right: 2%;
  }
  /* line 484, screen.scss */
  .treatments .treatmentIntro:nth-of-type(3n) {
    margin-right: 0;
  }
  /* line 487, screen.scss */
  .treatments .treatmentIntro:nth-of-type(4n) {
    clear: left;
  }
}
@media only screen and (min-width: 320px) and (max-width:  768px) {
  /* line 499, screen.scss */
  .container {
    padding: 0;
  }

  /* line 504, screen.scss */
  .hero .caption h2 {
    font-size: 2.188em;
  }
  /* line 507, screen.scss */
  .hero .caption p {
    margin-right: 0;
  }

  /* line 513, screen.scss */
  .about .colThird {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
  /* line 517, screen.scss */
  .about .colThird:last-child {
    margin-bottom: 20px;
  }
  /* line 520, screen.scss */
  .about .colThird.double .border {
    border: 0;
  }
  /* line 525, screen.scss */
  .about .tableWrapper,
  .about .colThird p {
    border: 0;
    padding: 0;
  }
}
