<perch:form id="contact" method="post" app="perch_forms">

		<perch:label for="name">Your name (required)</perch:label>
		<perch:input type="text" id="name" required="true" label="Name" />
		<perch:error for="name" type="required">Please enter your name</perch:error>

		<perch:label for="email">Your email (required)</perch:label>
		<perch:input type="email" id="email" required="true" label="Email" placeholder="you@company.com" />
		<perch:error for="email" type="required">Please enter your email address</perch:error>
		<perch:error for="email" type="format">Please check your email address</perch:error>

		<perch:label for="subject">Your subject</perch:label>
		<perch:input type="text" id="subject" label="Subject" />

		<perch:label for="message">Your message (required)</perch:label>
		<perch:input type="textarea" id="message" required="true" label="Message" />
		<perch:error for="message" type="required">Please enter your message</perch:error>

		<perch:input type="submit" id="submit" value="Send" />

	<perch:success>
		<perch:content id="success" type="textarea" label="Thank you message" textile="true" editor="markitup" />
	</perch:success>
</perch:form>