<perch:before><div class="hero"></perch:before>
	<div class="heroSlide">
		<img src="<perch:content id="slideImage" type="image" label="Slide image" required="true" bucket="carousel-images" />" alt="<perch:content id="slideImageAlt" type="text" label="Alt text" title="true"/>">
		<perch:if exists="heading">
		<div class="caption">
			<h2><perch:content id="heading" type="text" label="Heading" required="false" /></h2>
			<p><perch:content id="description" type="textarea" html="false" label="Description" required="false" /></p>
		</div>
		</perch:if>
	</div>
<perch:after></div></perch:after>