<perch:before>
<ul class="listing-blog-posts"></perch:before>
    <li class="listing-blog-posts__entry">
        <h4 class="listing-blog-posts__title"><a href="<perch:blog id="postURL" />" rel="bookmark" class="listing-blog-posts__link"><perch:blog id="postTitle" /></a></h4>
        <p class="listing-blog-posts__date"><perch:blog id="postDateTime" format="%d %B %Y" /></p>
        <p class="listing-blog-posts__comment-count"><perch:blog id="postCommentCount"/> comments</p>
        <div class="listing-blog-posts__content">
            <perch:if exists="image"><img src="<perch:blog id="image" type="image" width="100" height="100" crop="true" />" alt="<perch:blog id="postTitle" />" /></perch:if>
            <perch:blog id="excerpt" type="textarea" textile="true" />
        </div>
    </li>
<perch:after>
    </ul>
    <perch:if exists="paging">
        <div class="paging">
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" />">Previous</a>
            </perch:if>
            Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" />
            <perch:blog id="page_links" encode="false" />
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" />">Next</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>